@inject CommonLocalizationService Localizer

<ul class="menu__list">
	<li class="menu__item">
		<a class="menu__link" asp-page="/About">@Localizer["About portal"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/About">@Localizer["About region"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/Admin/FieldsOfActivity/Index">@Localizer["Industries"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/Exporters/Index">@Localizer["Exporters"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/Products/Index">@Localizer["Products & Services"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/Events/Index">@Localizer["Events"]</a>
	</li>
	<li class="menu__item">
		<a class="menu__link" asp-page="/News/Index">@Localizer["News"]</a>
	</li>
</ul>