@page
@using ExporterWeb.Helpers
@model ExporterWeb.Pages.Admin.Exporters.Details

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
	    <div class="flex">
		    <nav aria-label="breadcrumb">
			    <ol class="breadcrumb mb-0">
				    <li class="breadcrumb-item"><a asp-page="/Admin/Index">Главная</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Экспортеры</li>
			    </ol>
		    </nav>
		    <h1 class="m-0">@Model.LanguageExporter.Name</h1>
	    </div>
	    <a href="" class="btn btn-primary ml-3">К товарам</a>
	    <form asp-page-handler="DeleteExporter" 
	          method="post" 
	          asp-page="./Details" 
	          onsubmit="return confirm('Вы уверены что хотите удалить этого пользователя? При подтверждении удалятся все данные, связанные с этим аккаунтом')">
		    <input type="hidden" name="id" value="@Model.LanguageExporter.CommonExporterId">
		    <button class="btn btn-danger ml-2" type="submit">Удалить</button>
	    </form>
    </div>
</div>

<div class="container-fluid page__container">
	<div class="row">
	
		<div class="col-md-9">
		
			<div class="row">
				<div class="col-md-12 card-form__body card-body bg-white">
					
					<div class="exporter-profile">
						<div class="row">
							<div class="col-md-4">
								<p><strong>Информация о компании</strong></p>
								
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Название компании:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.Name</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">ИНН:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.CommonExporter!.INN</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">ОГРН или ОГРНИП:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.CommonExporter!.OGRN_IP</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Отрасль:</span>
									<span class="exporter-item__value mt-1">@Model.IndustryName</span>
								</div>
							</div>
							<div class="col-md-6">
								<p><strong>Данные контактного лица организации</strong></p>
								
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Полное имя директора:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.DirectorFullName()</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Контактное лицо:</span>
									<span class="exporter-item__value mt-1">
										@Model.LanguageExporter.ContactPersonSecondName
										@Model.LanguageExporter.ContactPersonFirstName
										@Model.LanguageExporter.ContactPersonPatronymic
									</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Должность:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.Position</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Email:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.CommonExporter!.User!.Email</span>
								</div>
								<div class="exporter-item d-flex flex-column my-3">
									<span class="font-weight-bold exporter-item__title">Номер телефона:</span>
									<span class="exporter-item__value mt-1">@Model.LanguageExporter.Phone</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<hr>
			
			<div class="row">

				<div class="col-md-12 card-form__body card-body bg-white">
					<p><strong>Статус экспортера</strong></p>

					<form id="exp-form" method="post">
						<div class="form-check custom-control custom-radio mb-2">
                    		<input class="form-check-input custom-control-input exp-status" type="radio" asp-for="Status" id="exp-moderation" value="@ExporterStatus.OnModeration">
                    		<label class="form-check-label custom-control-label" for="exp-moderation">
                    			На модерации
                    		</label>
                    	</div>
						<div class="form-check custom-control custom-radio mb-2">
							<input class="form-check-input custom-control-input exp-status" type="radio" asp-for="Status" id="exp-approved" value="@ExporterStatus.Approved">
							<label class="form-check-label custom-control-label" for="exp-approved">
								Одобрен
							</label>
						</div>
						<div class="form-check custom-control custom-radio mb-2">
							<input class="form-check-input custom-control-input exp-status" type="radio" asp-for="Status" id="exp-not-approved" value="@ExporterStatus.Refused">
							<label class="form-check-label custom-control-label" for="exp-not-approved">
								Отказано
							</label>
						</div>

						<div class="form-group form-group-textarea mt-3 d-none">
							<label for="desc">Причина отказа</label>
						</div>
						
						<button class="btn btn-success mt-3" type="submit">Сохранить</button>
					</form>
				</div>

			</div>
			
		</div>
			
	</div>
</div>

@section Scripts {
	<script>
		let expForm = document.getElementById('exp-form')
		let expNotApproved = document.getElementById('exp-not-approved');
		let expAddTextarea = document.createElement('textarea');
		let expTextareaRow = document.querySelector('.form-group-textarea')
		expAddTextarea.classList.add('form-control', 'exp-textarea');
		expAddTextarea.id = 'exp-textarea';
		expAddTextarea.setAttribute('name', 'RejectionReason');
		expAddTextarea.placeholder = 'Введите причину отказа';
		expAddTextarea.required = true;

		expForm.onchange = function () {
			if (expNotApproved.checked) {
				expTextareaRow.classList.remove('d-none');
				expTextareaRow.append(expAddTextarea)
			} else {
				expTextareaRow.classList.add('d-none');
				expAddTextarea.remove();
			}
		}

		let radioButtons = document.querySelectorAll('.exp-status');
		radioButtons.forEach(function (item) {
			if (item.value === '@Model.LanguageExporter.CommonExporter.Status') {
				item.checked = true;
			}	
		});
	</script>
}