@page
@model ExporterWeb.Pages.Admin.FieldsOfActivity.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FieldOfActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FieldOfActivity.Id" />
            @for (int i = 0; i < Model.LocalizedNames.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="@Model.LocalizedNames[i].Language" class="control-label">@Model.LocalizedNames[i].Language:</label>
                    <input type="hidden" asp-for="@Model.LocalizedNames[i].Language" />
                    <label asp-for="@Model.LocalizedNames[i].Name" class="control-label"></label>
                    <input asp-for="@Model.LocalizedNames[i].Name" class="form-control" />
                    <span asp-validation-for="@Model.LocalizedNames[i].Name" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
