@page
@model ExporterWeb.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.UserNameOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.UserNameOwner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartsAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.StartsAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EndsAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EndsAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Event.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
