@page
@inject CommonLocalizationService Localizer
@using Helpers
@model IndexModel
@{ ViewData["Title"] = Localizer["Home page"]; }

<div class="index-image-block">
	<div class="grid">
		<div class="index-image-text">
			В КАТАЛОГЕ ПОРТАЛА -
			БОЛЕЕ <span class="blue-highlighted">400 ПРЕДПРИЯТИЙ</span>,
			2000 ТОВАРОВ И УСЛУГ
		</div>
		@*<img src="~/img/dagestan-emblem.svg" />*@
	</div>
</div>

<div class="index-content-block">
	<div class="grid">
		<div class="title-of-block">
			<div class="title">@Localizer["News"]</div>
			<a class="link" asp-page="/Admin/News/Index">@Localizer["All the news"]</a>
		</div>
		<div class="many-items">
			@foreach (var newsItem in Model.News!)
			{
				<div class="item news">
					<a asp-page="/Admin/News/Details" asp-route-id="@newsItem.Id">
						@*<img class="item-logo" src="~/img/news-icon.png" />*@
						<img class="item-logo" src="@newsItem.LogoPath()" />
					</a>
					<a class="item-title" asp-page="/Admin/News/Details" asp-route-id="@newsItem.Id">@newsItem.Name
					</a>
					<span class="item-date">@newsItem.CreatedAt.ToLongDateString()</span>
				</div>
			}
		</div>
	</div>
</div>

<div class="index-content-block">
	<div class="grid">
		<div class="title-of-block">
			<div class="title">@Localizer["Branches"]</div>
			<a class="link" asp-page="/Admin/FieldsOfActivity/Index">@Localizer["All the branches"]</a>
		</div>
		<div class="many-items">
			@foreach (var fieldItem in Model.FieldsOfActivity!)
			{
				<a class="item branch" href="#">
					<img class="item-logo" src="~/img/news-icon.png" />
					<span class="item-title">@fieldItem.Name[CultureInfo.CurrentCulture.TwoLetterISOLanguageName]</span>
				</a>
			}
		</div>
	</div>
</div>

<div class="index-content-block">
	<div class="grid">
		<div class="title-of-block">
			<div class="title">@Localizer["Events"]</div>
			<a class="link" asp-page="/Events/Index">@Localizer["All the events"]</a>
		</div>
		<div class="many-items">
			@foreach (var eventItem in Model.Events!)
			{
				<div class="item events">
                    <a asp-page="/Events/Details" asp-route-id="@eventItem.Id">
                        <img class="item-logo" src="@eventItem.LogoPath()" />
                    </a>
					<span class="item-title">@eventItem.Name</span>
				</div>
			}
		</div>
	</div>
</div>

<div class="index-content-block">
	<div class="grid">
		<div class="title-of-block">
			<div class="title">@Localizer["Analytics"]</div>
			<a class="link">@Localizer["Full analytics"]</a>
		</div>
		<div>
			<hr />
			Some analytics
		</div>
	</div>
</div>
