@page
@using ExporterWeb.Helpers
@model ExporterWeb.Pages.Admin.Industries.Translations

@{
    Layout = "_AdminLayout";
}

@section Styles {
	<style>
    	.card-thumbnail {position: relative}
    	.card-thumbnail a {
    		width: 100%;
    		height: 100%;
    		position: absolute;
    		top: 0;
    		left: 0;
    	}
    	.card-thumbnail img {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }
    	.card__language {
    		position: absolute;
    		color: #fff;
    		background-color: #364c66;
    		padding: 6px 18px;
    		border-radius: 4px;
    		margin: 15px;
    	}
    </style>
}


<!-- Хлебные крошки -->
<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Отрасли</li>
                </ol>
            </nav>
            <h1 class="m-0">Перевод отрасли</h1>
        </div>
        <a asp-page="./CreateTranslation" asp-route-industryId="@Model.Industry.Id" class="btn btn-success ml-3">Добавить перевод</a>
    </div>
</div>


<div class="container-fluid page__container">

	<div class="row">
	@foreach (var translation in @Model.Industry.Translations!)
	{
		<div class="col-md-4">
			<div class="card shadow-sm">
				<div class="card-thumbnail">
					<span class="card__language">@translation.Language.ToUpper()</span>
					@if (translation.Image is {})
					{
						<img src="@translation.LogoPath()" alt="">
					}
					else
					{
						<img src="https://etnomirkavkaza.ru/wp-content/themes/etnomir/assets/images/no-image.jpg" class="card-img-top">
					}
					<a class="" asp-page="Industries/Details" asp-route-id="@translation.IndustryId"></a>
				</div>
				<div class="card-body">
					<a class="" asp-page="Industries/Details" asp-route-id="@translation.IndustryId"><h5 class="card-title">@translation.Name</h5></a>
					<p class="card-text">@Html.Raw(translation.Description)</p>
					<div class="d-flex align-items-center">
						<a asp-page="./Edit" asp-route-id="@translation.Id" class="btn btn-outline-info btn-sm mr-1">Ред.</a>
						<form method="post" 
						      asp-page-handler="DeleteTranslation"
						      onsubmit="return confirm('Вы уверены что хотите удалить информацию этой отрасли?')">
							<input type="hidden" name="Id" value="@translation.Id">
							<button class="btn btn-outline-danger btn-sm" type="submit">Удалить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
	</div>
                    
</div>