@using ExporterWeb.Helpers
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext

@{
    var exporters = await DbContext.LanguageExporters!
        .Include(e => e.CommonExporter)
        .Where(e => e.Language == Languages.DefaultLanguage).ToListAsync();
    var onModerationExportersCount = exporters.Count(e => e.CommonExporter!.Status == ExporterStatus.OnModeration.ToString());
    var approvedExportersCount = exporters.Count(e => e.CommonExporter!.Status == ExporterStatus.Approved.ToString());
    var refusedExportersCount = exporters.Count(e => e.CommonExporter!.Status == ExporterStatus.Refused.ToString());
}


<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    <title>MIR - Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="~/admin/vendor/simplebar.min.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="~/admin/css/app.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/app.rtl.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="~/admin/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/vendor-material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="~/admin/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">

    <!-- Flatpickr -->
    <link type="text/css" href="~/admin/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="~/admin/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
    
    <link type="text/css" href="~/admin/css/custom.css" rel="stylesheet">
    
    @RenderSection("Styles", required: false)
</head>

<body class="layout-default">
    <div class="preloader"></div>
    

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->
        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark pr-0" id="navbar" data-primary>
                    <div class="container-fluid p-0">

                        <!-- Navbar toggler -->
                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar Brand -->
                        <a asp-page="/Index" class="navbar-brand ">
                            <img class="navbar-brand-icon" src="~/admin/images/mid-logo.png" alt="Made In Rd">
                            @* <span>Made In Rd</span> *@
                        </a>

                        <form class="search-form d-none d-sm-flex flex" action="#">
                            <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                            <input type="text" class="form-control" placeholder="Поиск по сайту">
                        </form>

                        <ul class="nav navbar-nav ml-auto d-none d-md-flex"></ul>

                        <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                            <li class="nav-item dropdown">
                                <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <img src="~/admin/images/avatar.png" class="rounded-circle" width="32" alt="Frontted">
                                    <span class="ml-1 d-flex-inline">
                                        <span class="text-light">Админ</span>
                                    </span>
                                </a>
                                <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong>Админ</strong></div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item active" href="index.html">Панель</a>
                                    <a class="dropdown-item" href="profile.html">Мой профиль</a>
                                    <a class="dropdown-item" href="edit-account.html">Изм. аккаунт</a>
                                    <div class="dropdown-divider"></div>
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                        <button class="dropdown-item" id="logout" type="submit">Выход</button>
                                    </form>                
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        
                <div class="mdk-drawer-layout__content page">

                    @RenderBody()
                    
                </div>
                <!-- // КОНЕЦ контентной части -->

                <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                    <div class="mdk-drawer__content">
                        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
                            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                                <a asp-page="/Admin/Index" class="flex d-flex align-items-center text-underline-0 text-body">
                                    <span class="avatar mr-3">
                                        <img src="~/admin/images/avatar.png" alt="Аватар" class="avatar-img rounded-circle">
                                    </span>
                                    <span class="flex d-flex flex-column">
                                        <strong>Админ</strong>
                                    </span>
                                </a>
                                <div class="dropdown ml-auto">
                                    <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-item-text dropdown-item-text--lh">
                                            <div><strong>Админ</strong></div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item active" href="/admin">Главная</a>
                                        <a class="dropdown-item" href="#">Профиль</a>
                                        <a class="dropdown-item" href="#">Изменить</a>
                                        <div class="dropdown-divider"></div>
                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                            <button class="dropdown-item" id="logout" type="submit">Выход</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-heading sidebar-m-t">Меню</div>
    						<ul class="sidebar-menu">
    							<li class="sidebar-menu-item">
    								<a class="sidebar-menu-button" asp-page="/Admin/Index">
    									<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">home</i>
    									<span class="sidebar-menu-text">Главная</span>
    								</a>
    							</li>
    							<li class="sidebar-menu-item">
    								<a class="sidebar-menu-button" asp-page="/Admin/Industries/Index">
    									<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">pages</i>
    									<span class="sidebar-menu-text">Отрасли</span>
    								</a>
    							</li>
                                <li class="sidebar-menu-item open">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#exporters">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                                        <span class="sidebar-menu-text">Экспортеры</span>
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu collapse show" id="exporters">
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button exporters-link" asp-page="/Admin/Exporters/Index" asp-route-status="OnModeration">
                                                <span class="sidebar-menu-text">На модерации @onModerationExportersCount</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button exporters-link" asp-page="/Admin/Exporters/Index" asp-route-status="Approved">
                                                <span class="sidebar-menu-text">Одобреные @approvedExportersCount</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-button exporters-link" asp-page="/Admin/Exporters/Index" asp-route-status="Refused">
                                                <span class="sidebar-menu-text">Отказаные @refusedExportersCount</span>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </li>
                            </ul>
                            
                            <hr>
                            
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item">
                                	<a class="sidebar-menu-button" asp-page="/Index">
                                		<i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">home</i>
                                		<span class="sidebar-menu-text">На сайт</span>
                                	</a>
                                </li>
    							<li class="sidebar-menu-item">
                                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                        <button class="sidebar-menu-button" id="logout" type="submit" style="border: none;background: transparent;">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">power</i>
                                            <span class="sidebar-menu-text">Выход</span>
                                        </button>
                                    </form>
    							</li>
                            </ul>

                        </div>
                    </div>
                </div>
                
            </div>
            <!-- // END drawer-layout -->

        </div>
        <!-- // END header-layout__content -->

    </div>

    <!-- jQuery -->
    <script src="~/admin/vendor/jquery.min.js"></script>
    <script src="~/admin/vendor/popper.min.js"></script>
    <script src="~/admin/vendor/bootstrap.min.js"></script>
    <script src="~/admin/vendor/simplebar.min.js"></script>
    <script src="~/admin/vendor/dom-factory.js"></script>
    <script src="~/admin/vendor/material-design-kit.js"></script>

    <!-- App -->
    <script src="~/admin/js/toggle-check-all.js"></script>
    <script src="~/admin/js/check-selected-row.js"></script>
    <script src="~/admin/js/dropdown.js"></script>
    <script src="~/admin/js/sidebar-mini.js"></script>
    <script src="~/admin/js/app.js"></script>

    <!-- Flatpickr -->
    <script src="~/admin/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="~/admin/js/flatpickr.js"></script>

    <!-- Global Settings -->
    <script src="~/admin/js/custom.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>