@page
@inject ExporterWeb.Helpers.Services.CommonLocalizationService Localizer
@model ResetPasswordModel

<main class="primary-content" role="main">

    <div class="container">

        <div class="account-card">
            <div class="account-header">
                <h1 class="account-card__title">@Localizer["Password recovery"]</h1>
            </div>

            <div class="account-body">
                <p class="mb-5">@Localizer["Create a new password for your account"]</p>

                <form method="post" class="for-validate account-form">
                    
                    <input asp-for="Input.Code" type="hidden" />
                    <input asp-for="Input.Email" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" id="password-input" class="form-control password-input" placeholder="@Localizer["Enter password"]">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <small class="password-control" onclick="show_hide_password(event, 'password-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" id="password-repeat-input" class="form-control password-input" placeholder="@Localizer["Confirm password"]">
                        <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
                        <small class="password-control" onclick="show_hide_password(event, 'password-repeat-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group d-flex flex-sm-row flex-column flex-wrap align-items-baseline mb-0">
                        <button class="btn btn-big btn-primary account-card__btn-primary go__register" type="submit">@Localizer["Save"]</button>
                        <a class="link link_border text-top_margin" href="/">@Localizer["Back to home page"]</a>
                    </div>
                </form>
            </div>

        </div>

    </div>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
